@model Website.Models.SemanticContent.TargetMarketplaceItem
    
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>@Model.Name</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @Html.Sitecore().Placeholder("GatedForm")
            </div>
        </div>
    </div>
</section>