@model Website.Models.Content.MarketplaceItemResultViewModel

<section class="marketplace-item-result">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Marketplace</h1>
                <p>Coming soon new filters!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul  class="list-group">
                    @foreach (var item in Model.Items)
                    {
                        <li class="list-group-item"><a href="@item.Url">@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
