@using Sitecore.Data
@model Website.Models.Forms.DownloadButtonViewModel

<div class="form__error-submit-wrapper">
    <a href="@Model.FileUrl" type="submit" class="btn btn-success">
        <span class="btn__text">Download Now</span>
    </a>
</div>