@model Website.Models.UploadItemForm


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    @Html.Sitecore().Placeholder("UploadForm")
                </div>
            </div>
        </div>
    </div>
</section>



